# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
/venv/
/.venv/

# IDEs and editors
/.vscode/
/.idea/

# mypy
/.mypy_cache/

# Logs
*.log

# pgadmin folder if needed
/pgadmin/
